body {
    background: white;
    font-family: Georgia, 'Hiragino Mincho Pro', Meiryo, serif;
    color: #000;
    text-align: left;
    width: 960px;
    margin: 20px;
}
header, section, footer {
    margin: 5px 0px 5px 0px;
    font-seze: 12pt;
    color: #000;
    text-align: left;
}
section {
    float: right;
    width: 960px;
    text-align: left;
/*    margin-bottom: 10px;*/
}
footer {
    clear: both !important;
    background-color: white;
    border: none;
    color: #fff;
    font-size: 0.8em;
    text-align: left;
}
article {
/*    margin: 0 0 30px 0;*/
}
h1, h2, h3 {
    font-family: "Hiragino Kaku Gothic Pro", Meiryo, sans-serif;
    font-weight: lighter;
}
h3 {
    margin: 20px 0px -10px 0px;
    font-size: 1.3em;
}
header h1 {
    font-size: 2.3em;
    text-transform: none;
    letter-spacing: 0em;
}
header h2 {
/*    margin: -10px 0px 20px;*/
    font-size: 1.3em;
}
a:link, a:visited {
    color: blue;
    text-decoration: none;
}
a:hover {
    color: #0cc;
}
section li a:link, section li a:visited {
    float: left;
    width: 96%;
    padding: 3px 1%;
    border-bottom: 1px soild #e7e2d7;
}
section li a:hover {
    background: #f2f1ec;
}
section p {
    font-size: 0.9em;
}
